.modal {
  max-width: 100%;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1C1C21;
  border-radius: 40px;
}

.closeBtn {
  background-color: transparent;
  position: absolute;
  top: 60px;
  right: 40px;
  width: 24px;
  height: 24px;
  border: none;
}

.closeBtn:hover {
  opacity: 0.6;
  cursor: pointer;
}
